<div class="card">
  <% if user_signed_in? %>
    <h2 class="h2">ようこそ <%= display_user_name %> さん</h2>
    <p>ログインしています。</p>
  <% else %>
    <h2 class="h2">ようこそ ゲストさん</h2>
    <p>ログインまたは新規登録をしてください。</p>
  <% end %>
</div>

<div class="illustrations">
  <img src="images/sun.png" alt="お日様のイラスト" class="sun-illustration">
  <img src="images/hatsuga-mizumaki_9726.png" alt="水やりのイラスト" class="watering-illustration">
</div>