default: &default
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  timeout: 5000

development:
  <<: *default
  adapter: sqlite3
  database: db/development.sqlite3

test:
  <<: *default
  adapter: sqlite3
  database: db/test.sqlite3

production:
  <<: *default
  adapter: postgresql
  encoding: unicode
  # Render（や他のPaaS）が注入する接続文字列を使います
  url: <%= ENV["DATABASE_URL"] %>
  variables:
    statement_timeout: 5000
