test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

# --- AWS S3 用（EC2 で使う） ---
amazon:
  service: S3
  bucket: <%= ENV.fetch("AWS_S3_BUCKET") %>
  region: <%= ENV.fetch("AWS_REGION") %>
  access_key_id: <%= ENV.fetch("AWS_ACCESS_KEY_ID") %>
  secret_access_key: <%= ENV.fetch("AWS_SECRET_ACCESS_KEY") %>

# --- Cloudinary 用（Render で使う） ---
cloudinary:
  service: Cloudinary